<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titrededocument  %}
            titre par defaut de document
    {% endblock %}</title>
</head>
<body>
header
<hr>

{% block corpDuDocument %}
    Du cintinue par defaut du bloc de corpocument
{% endblock %}

<hr>
Footer
</body>
</html>